@model Souped_Up.Models.MealViewCreateModel
@using System.Web.Mvc.Html
@using GridMvc.Html
@using C1.Web.Mvc

@{
    ViewBag.Title = "Create";
    
}


<h2>Create a Meal</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
          <h3>Name</h3>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <h3>Dishes</h3>
            <div class="row">
                <div class="col-md-5">
                    <h6>Select Dishes for this Meal</h6>

                    @Html.ListBoxFor(m => m.Dishes, new
                 MultiSelectList(Model.DishData.OrderBy(c => c.Name), "Id", "Name",
                 Model.Dishes), "Select Dishes")
                    @*@(Html.Kendo().MultiSelectFor(model => model.Dishes)
        .Name("selectDish")
        .Placeholder("Select Dishes...")
        .DataTextField("Name")
        .DataValueField("Id")
        .Value(new[] {2, 7})
        .Height(300)

        .DataSource(source =>
        {
        source.Read(read =>
        {
            read.Action("GetDishes","Meal");
        })
        .ServerFiltering(true);

        })
        )*@

                </div>
                <div class="col-md-5">
                    @Html.ActionLink("Create New Dish", "Create", "Dish")
                </div>
            </div>

            <br />
        </div>
        <div>
            <h3>Tags</h3>
            <div class="row">
                <div class="col-md-5">
                    <h6>Select Tags for this Meal</h6>
                    @Html.ListBoxFor(m => m.Tags, new
                   MultiSelectList(Model.TagData.OrderBy(c => c.Name), "Id", "Name",
                   Model.Tags), "Select Tags")

                    @*@(Html.Kendo().MultiSelectFor(model => model.Tags)
        .Name("selectTag")
        .Placeholder("Select Tags...")
        .DataTextField("Name")
        .DataValueField("Id")
        .Value(new[] {2, 7})
        .Height(300)

        .DataSource(source =>
        {
        source.Read(read =>
        {
            read.Action("GetTags","Meal");
        })
        .ServerFiltering(true);

        })
        )*@

                </div>
                <div class="col-md-5">
                    @Html.ActionLink("Create New Tag", "Create", "Tag")
                </div>
            </div>

            <br />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/kendo")

}


