@model Souped_Up.Models.MealViewListModel

@{
    ViewBag.Title = "Index";
}

<h2>Meals</h2>
<p>
    @Html.ActionLink("Create a Meal", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&timesl</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

@*search bar to filter Meal Name*@
@*Filter by tag*@
@foreach (var model in Model.Meals)
{
    @Html.Partial("ListMeal", model);
}
<div class="col-md-offset-10">
    @Html.ActionLink("Main Menu", "Index", "Home")
</div>