@model Souped_Up.Models.DishViewDetailModel

@{
    ViewBag.Title = "Detail";
}

<h2>Dish DetailS</h2>

<div class="row">
    <div class="col-md-3">
        <h4>
            @Html.DisplayFor(model => model.Name)
        </h4>
    </div>
    <div class="col-md-9 ">
        @Html.DisplayNameFor(model => model.Tags):
        @Html.DisplayFor(model => model.DisplayTags)
    </div>
</div>

@*add expanding option for dishes to show ingredients*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
    </tr>
    @foreach (var item in Model.Ingredients)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "IngredientController", new { id = item.Id }) |
                @Html.ActionLink("Details", "Detail", "IngredientController", new { id = item.Id }) |
                @Html.ActionLink("Remove", "Delete", "IngredientController", new { id = item.Id })
            </td>
        </tr>

    }

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>